    /* p {
      height: 200px;
      width: 200px;
      border: 2px solid black;
      text-align: center;
      background-color: orange;


      color: whitesmoke;
      font-size: 25px;


      border-radius: 30px;
      box-shadow: 10px 10px 5px grey;


      /* top right bottom left  */
    

/* ul li {
  color: white;
  font-size: 16px;
  background-color: orange;
} */ 

somu {
  background-color: purple;
  font-size: 30px;
  color: whitesmoke;
}


body {
  background-color: lightblue;
}


